* {
    box-sizing: border-box;
}

.info-container {
    width:  500px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display:  flex;
    flex-direction:  column;
    align-items: center;
    background-color: #1A1B21;
}

.userName {
    margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}

.title {
color: #F3BF99;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
line-height: 15px;
text-align: center;
    
}

.emailadress {
    color: #F5F5F5;
}

.socials {
    display: flex;
    flex-direction: row;
    gap:17px;
}

.socials p {
    padding: 10px 20px;

}

.icon-colors {
    
}

.linkedin {
background-color: #5093E2;
color: white;
display: flex;
gap: 7px;
width: 115px;
height: 34px;
left: 283px;
top: 468px;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.email {
background-color: #fff;
color: black;
display: flex;
gap: 7px;
width: 115px;
height: 34px;
left: 283px;
top: 468px;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.about-header {
    color: #F5F5F5;
}

.about-paragraph {
    color: #DCDCDC;
    width: 247px;
}

.about-container {
    width:  500px;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid black; */
    background-color: #1A1B21;
}

.inner-about-container {
    margin: auto;
}

.footer-container {
    display: 
}

.footer-container-inner {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px
}

.footer-container-inner i {
   font-size: 25px;
    height: 25px;
    background-color: #918E9B;
}

.icon-cotainer {
    display: flex;
    background-color: #918E9B;
    padding: 5px;
    border-radius: 6px;
}

.fa-twitter, fa-facebook, fa-instagram, fa-github {
   margin: auto;
}